<ion-header mode="ios">
  <ion-toolbar>
    <ion-avatar slot="start" >
      {{'M' | titlecase}}
      <!-- <img  [src]="theirImageUrl" /> -->
    </ion-avatar>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <h4>{{'MPC AI Bot' | translate}}</h4>
      <p>{{'Streamline your business with a chatbot that man' | translate}}</p>

    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="m-b">
    <div class="message-list">
      <div *ngFor="let msg of messages" [class]="msg.sender === 'me' ? 'message-sent' : 'message-received'">
        <div *ngIf="msg.sender !== 'me'" class="img-container">
          <div class="user-image">  {{'M' | titlecase}}</div>
          <!-- <img [src]="message.sender === 'me' ? myImageUrl : theirImageUrl" alt="User Image" class="user-image"> -->
        </div>
          
          <div class="message-content" [class]="msg.sender === 'me' ? 'sent' : 'received'">
            <!-- <h3>{{ message.sender === 'me' ? 'You' : 'Them' }}</h3> -->
            <p [innerHTML]="formatInvoiceSummary(msg.message)"></p>
            <!-- <p>{{ message.text }}</p> -->
            <!-- <ion-note>{{ message.time }}</ion-note> -->
          </div>
        <!-- </div> -->
      </div>
    </div>
     <div class="message-received" *ngIf="isMessageLoading">
      <div class="img-container">
        <div class="user-image">  {{'M' | titlecase}}</div>
        <!-- <img [src]="theirImageUrl" alt="User Image" class="user-image"> -->
      </div>
      <div class="typing-indicator" >
        <span></span>
        <span></span>
        <span></span>
      </div>
     </div>
   
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar class="chat-footer">
    <ion-textarea [autoGrow]="true" [(ngModel)]="newMessage" placeholder="Type here to ask about invoices, customers, or proposals..." class="message-input"></ion-textarea>
    <ion-button slot="end" (click)="sendMessage()" class="send-button">
      <ion-icon name="send"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-footer>
