<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon color="dark" slot="icon-only" src="/assets/icon/left.svg" class="btn-rotate"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{'convert_to_invoice' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formGroup" class="ion-margin">
   

    <ion-list  lines="none">
      <ion-radio-group formControlName="save_as_draft">
        <ion-item>
          <ion-label>{{'convert' | translate}}</ion-label>
          <ion-radio slot="start" mode="md" value="1"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>{{'convert_and_save_as_draft' | translate}}</ion-label>
          <ion-radio slot="start" mode="md" value="2"></ion-radio>
        </ion-item>
      </ion-radio-group>

      <ion-list-header >
        <ion-label class="ion-margin-start">
          <h6 class="ion-padding-top ion-padding-bottom">{{'expense_include_additional_data_on_convert' | translate}}</h6>
          <h2 class="fnt-500">{{'expense_add_edit_description' | translate }} + </h2>
        </ion-label>
      </ion-list-header>

      <ion-item lines="none" button="false" class="ion-margin-start checkbox" mode="md">
        <ion-checkbox color="default" mode="md" formControlName="include_note" labelPlacement="end" justify="start">{{'expense_of_note' | translate}}</ion-checkbox>
        <!-- <ion-label>{{'expense_of_note' | translate}}</ion-label> -->
      </ion-item>
      <ion-item lines="none" button="false" class="ion-margin-start checkbox" mode="md">
        <ion-checkbox color="default" mode="md" formControlName="include_name" labelPlacement="end" justify="start">{{'expense_of_name' | translate}}</ion-checkbox>
        <!-- <ion-label>{{'expense_of_name' | translate}}</ion-label> -->
      </ion-item>
    </ion-list>

    <ion-button  (click)="convertToInvoice()" color="default" mode="ios" type="submit" expand="block" [disabled]="!formGroup.valid || submitting">
      <ion-spinner [hidden]="!submitting"></ion-spinner>
      <ion-text style="width: 100%;">{{'confirm' | translate}}</ion-text>
    </ion-button>
  </form>

</ion-content>
