ion-item {
    border: 1px solid var(--ion-item-border-color);
}

.page-divider {
    border: 1px solid #ECECEC;
    width: 295px;
    height: 0px;
    margin: 0 auto;
    margin-top: 35px;
    margin-bottom: 35px;
}
