<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button class="btn-rotate" color="dark" defaultHref="/settings/list"></ion-back-button>
    </ion-buttons>
    <ion-title>{{'notifications_setting' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-top">
  <form [formGroup]="formGroup">
    <ion-list>
      <ion-item>
        <ion-toggle
          (ionChange)="updateSetting()"
          color="default"
          mode="ios"
          formControlName="ticket_notification"
          labelPlacement="start"
          justify="space-between"
        >{{'ticket_notifications' | translate}}</ion-toggle>
      </ion-item>
  
      <ion-item button="false">
        <ion-toggle
          (ionChange)="updateSetting()"
          color="default"
          mode="ios"
          formControlName="invoice_notification"
          labelPlacement="start"
          justify="space-between"
        >{{'invoice_notifications' | translate}}</ion-toggle>
      </ion-item>
  
      <ion-item button="false">
        <ion-toggle
          (ionChange)="updateSetting()"
          color="default"
          mode="ios"
          formControlName="task_notification"
          labelPlacement="start"
          justify="space-between"
        >{{'task_notifications' | translate}}</ion-toggle>
      </ion-item>
  
      <ion-item button="false">
        <ion-toggle
          (ionChange)="updateSetting()"
          color="default"
          mode="ios"
          formControlName="lead_notification"
          labelPlacement="start"
          justify="space-between"
        >{{'lead_notifications' | translate}}</ion-toggle>
      </ion-item>
  
      <ion-item button="false">
        <ion-toggle
          (ionChange)="updateSetting()"
          color="default"
          mode="ios"
          formControlName="proposal_notification"
          labelPlacement="start"
          justify="space-between"
        >{{'proposal_notifications' | translate}}</ion-toggle>
      </ion-item>
  
      <ion-item button="false">
        <ion-toggle
          (ionChange)="updateSetting()"
          color="default"
          mode="ios"
          formControlName="project_notification"
          labelPlacement="start"
          justify="space-between"
        >{{'project_notifications' | translate}}</ion-toggle>
      </ion-item>
    </ion-list>
    
    
  </form>

  <app-mpc-loader [isLoading]="isLoading"></app-mpc-loader>
</ion-content>