<ion-content>
  <div class="login-section">
    <div>
      <h1 >{{'forgot_password' | translate}}</h1>
      <p style="margin-bottom: 50px;">{{'enter_the_email_use_to_login' | translate}} <b style="color: var(--color);" translate>CRM</b>.</p>
      <form [formGroup]="credentials">
        <!-- <div *ngIf="error" class="errors">
          <span>{{ error }}</span>
        </div> -->
        <div *ngIf="(email.dirty || email.touched) && email.errors" class="errors">
          <span *ngIf="email.errors?.required">{{'email_is_required' | translate}}</span>
          <span *ngIf="email.errors?.email">{{'email_is_invalid' | translate}}</span>
        </div>
        <ion-item lines="none">
          <ion-label position="floating">{{'client_email' | translate}}</ion-label>
          <ion-input type="email" formControlName="email"></ion-input>
        </ion-item>

        <p routerLink="/login" style="
          font-family: 'Roboto';
          font-style: normal;
          font-weight: 700;
          font-size: 16px;
          line-height: 19px;
          text-align: right;" translate>{{'try_login' | translate}}</p>
      </form>
    </div>
  
    <ion-button (click)="forgotPassword()" color="default" mode="ios" type="submit" expand="block" [disabled]="!credentials.valid" translate>{{'confirm' | translate}}</ion-button>
  
  </div>
  </ion-content>
