ion-grid {
    border-radius: 10px;
    background: var(--ion-item-background);
    margin: 16px 0;
    ion-row {
        border-bottom: 1px solid var(--ion-item-border-color);
        margin: 0px 16px;
        
        ion-col:nth-child(2) {
            text-align: right;
        }
    }

    ion-row:last-child {
        border-bottom: 0;
    }

    h6 {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #747889;
    }
    
    h3 {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        margin-top: 0;
    }

    .in-active {
        color: #FF8686;
    }
    .active {
        color: #63EDBB;
    }
}

.payment_mode {
    background: #f2f2f2;
    border-radius: 3px;
    min-width: 70px;
    height: 22px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    /* identical to box height */
    color: #000000;
    display: block;
    text-align: center;
    margin-top: 10px;
    padding-left: 10px !important;
    padding-right: 10px !important;
}