<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- <ion-back-button class="btn-rotate" *ngIf="type !== 'modal'" color="dark" defaultHref="/admin/proposals/list"></ion-back-button> -->
      <ion-button *ngIf="type !== 'modal'" routerLink="/admin/contracts/list" routerDirection="back">
        <ion-icon color="dark" slot="icon-only" src="/assets/icon/left.svg" class="btn-rotate"></ion-icon>
      </ion-button>
      <ion-button *ngIf="type === 'modal'" (click)="close()">
        <ion-icon color="dark" slot="icon-only" src="/assets/icon/left.svg" class="btn-rotate"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{'view_contract' | translate}}</ion-title>

    <ion-buttons *ngIf="['reminders','tasks'].includes(selectedTab)" slot="end">
      <ion-button (click)="isSearching = !isSearching;">
        <ion-icon [color]="isSearching ? 'default' : 'dark'" slot="icon-only" src="/assets/icon/search.svg"></ion-icon>
      </ion-button>
      <ion-button (click)="openFilters()" *ngIf="['tasks'].includes(selectedTab)">
        <ion-icon [color]="isFiltered ? 'default' : 'dark'" slot="icon-only" src="/assets/icon/funnel.svg"></ion-icon>
      </ion-button>

      <mpc-sorting (ionChange)="onSortingChange($event, 'task')" [apiService]="taskApi"
        *ngIf="selectedTab == 'tasks'"></mpc-sorting>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar *ngIf="isSearching && ['reminders','tasks'].includes(selectedTab)">
    <ion-searchbar [placeholder]="'kb_search' | translate" *ngIf=" ['reminders'].includes(selectedTab)" mode="ios" (ionInput)="doSearch($event, 'reminder')"
      debounce="500"></ion-searchbar>
    <ion-searchbar [placeholder]="'kb_search' | translate" *ngIf="['tasks'].includes(selectedTab)" mode="ios" (ionInput)="doSearch($event, 'task')"
      debounce="500"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment scrollable class="ion-margin-bottom" (ionChange)="segmentChanged($event)" [value]="selectedTab"
    mode="md">
    <ion-segment-button value="contract">
      <ion-label>{{'contract' | translate}}</ion-label>
    </ion-segment-button>
    <ion-segment-button value="files">
      <ion-label>{{'contract_attachments' | translate}}</ion-label>
    </ion-segment-button>
    <ion-segment-button value="comments">
      <ion-label>{{'contract_comments' | translate}}</ion-label>
    </ion-segment-button>
    <ion-segment-button value="tasks">
      <ion-label>{{'tasks' | translate}}</ion-label>
    </ion-segment-button>
    <ion-segment-button value="notes">
      <ion-label>{{'notes' | translate}}</ion-label>
    </ion-segment-button>
    <ion-segment-button value="templates">
      <ion-label>{{'templates' | translate}}</ion-label>
    </ion-segment-button>
    <!-- <ion-segment-button value="emails_tracking">
        <ion-label>Emails Tracking</ion-label>
      </ion-segment-button>
      <ion-segment-button value="views_tracking">
        <ion-label>Views Tracking</ion-label>
      </ion-segment-button> -->
  </ion-segment>

  <div class="ion-padding-start ion-padding-end ion-padding-bottom r-p-16" *ngIf="selectedTab == 'contract'">

    <ion-refresher slot="fixed" (ionRefresh)="doContractRefresh($event, 'contract')">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-grid>
      <ion-row style="border: 0">
        <ion-col><span style="
              font-family: 'Roboto';
              font-style: normal;
              font-weight: 500;
              font-size: 16px;
              line-height: 19px;
            ">{{'status' | translate}}</span></ion-col>
        <ion-col><span [class]="contractHelper.format_contract_status(contract?.marked_as_signed == '1' ? 3 : (contract?.signed == '1' ? 2 : 1))">{{
            contractHelper.format_contract_status(contract?.marked_as_signed == '1' ? 3 : (contract?.signed == '1' ? 2 : 1), '',
            false) | translate}}</span></ion-col>
      </ion-row>

      <ion-row style="border: 0">
        <ion-col>
          <ion-button color="primary" (click)="editContract(contract_id)" expand="block" fill="outline" mode="ios"
            class="action_button">{{'edit_contract' | translate}}</ion-button>
        </ion-col>

        <ion-col>
          <ion-button color="medium" id="popover-pdf-button" expand="block" fill="outline" mode="ios" color="dark"
            class="action_button" (click)="openPdf()">
            <ion-icon color="dark" style="width: 100%" src="/assets/icon/pdf.svg"></ion-icon>
            <ion-icon slot="end" name="chevron-down"></ion-icon>
          </ion-button>
          <ion-popover trigger="popover-pdf-button" [dismissOnSelect]="true" mode="ios">
          </ion-popover>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button id="popover-more" color="medium" expand="block" fill="outline" mode="ios" color="dark"
            class="action_button" (click)="openMore()">
            <ion-label style="width: 100%">{{'more' | translate}}</ion-label>
            <ion-icon slot="end" name="chevron-down"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col>
          <h5>{{ '#' + contract?.id }}</h5>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <h6>{{'contract_list_subject' | translate}}</h6>
          <h3>{{ contract?.subject }}</h3>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6">
          <h6>{{'contract_list_client' | translate}}</h6>
          <h3>{{ contract?.client?.company }}</h3>
        </ion-col>
        <ion-col size="6">
          <h6>{{'project' | translate}}</h6>
          <h3>{{ contract?.project?.name }}</h3>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <h6>{{'contract_value' | translate}}</h6>
          <h3>{{ contract?.contract_value | appFormatMoney: contract}}</h3>
        </ion-col>
        <ion-col size="6">
          <h6>{{'contract_type' | translate}}</h6>
          <h3>{{ contract?.contract_type?.name }}</h3>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <h6>{{'created_date' | translate}}</h6>
          <h3>{{ contract?.dateadded | dateTimeFormat }}</h3>
        </ion-col>
        <ion-col size="6">
          <h6>{{'contract_start_date' | translate}}</h6>
          <h3>{{ contract?.datestart | dateTimeFormat }}</h3>
        </ion-col>
        <ion-col size="6">
          <h6>{{'contract_end_date' | translate}}</h6>
          <h3>{{ contract?.dateend | dateTimeFormat }}</h3>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid >
      <ion-row>
        <ion-col>
          <h6>{{'contract_description' | translate}}</h6>
          <h3 [innerHTML]="contract?.description"></h3>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid *ngIf="contract?.customfields?.length > 0">
      <ion-row *ngFor="let custom_field of contract?.customfields">
        <ion-col>
          <h6>{{ custom_field?.label }}</h6>
          <h3>{{ (custom_field?.value == '' ? '-' : custom_field?.value) }}</h3>
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>

  <div class="ion-padding-bottom" *ngIf="selectedTab == 'comments'">
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event, 'comment')">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-list lines="none" *ngIf="!isLoading">
      <ion-item-sliding *ngFor="let comment of comments;let i = index;trackBy: trackByFn;"
        class="ion-margin-top ion-margin-bottom" #slidingItem>
        <ion-item-options side="start" *ngIf="authService.hasPermission('comments', ['delete'])">
          <ion-item-option color="default-danger" class="_delete"
            (click)="deleteComment(comment.id, i, slidingItem)">{{'_delete' | translate}}</ion-item-option>
        </ion-item-options>

        <ion-item class="ion-margin-start ion-margin-end r-item">
          <ion-avatar slot="start">
            <img [src]="comment.profile_url" />
          </ion-avatar>
          <ion-label>
            <h6>{{ comment.time_ago }}</h6>
            <h3>{{ comment.full_name }} {{ comment.lastname }}</h3>
            <span [innerHTML]="comment?.content"></span>
          </ion-label>
        </ion-item>

        <ion-item-options side="end" *ngIf="authService.hasPermission('comments', ['edit'])">
          <ion-item-option color="default" class="_action" (click)="addEditComment(comment)">{{'_edit' | translate}}</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
    <div class="fixed-perfex-fab">
      <ion-fab *ngIf="authService.hasPermission('comments', ['create'])" vertical="bottom" horizontal="end"
        slot="fixed">
        <ion-fab-button color="default" (click)="addEditComment()" class="ion-margin">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </div>
    <div class="ion-padding" *ngIf="comments?.length == 0">
      <app-empty></app-empty>
    </div>
  </div>


  <div class="ion-padding-bottom" *ngIf="selectedTab == 'tasks'">
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event, 'task')">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-list lines="none" *ngIf="!isLoading">
      <task-list-card [tasks]="tasks" [isModal]="true"></task-list-card>
    </ion-list>

    <ion-infinite-scroll *ngIf="!isLoading" threshold="100px" (ionInfinite)="loadMore($event, 'task')">
      <ion-infinite-scroll-content loadingSpinner="circular" loadingText="Loading..."></ion-infinite-scroll-content>
    </ion-infinite-scroll>
    <div class="fixed-perfex-fab">
      <ion-fab *ngIf="authService.hasPermission('tasks', ['create'])" vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="default" (click)="addTask()" class="ion-margin">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </div>
    <div class="ion-padding" *ngIf="tasks?.length == 0">
      <app-empty></app-empty>
    </div>
  </div>

  <div class="ion-padding-bottom" *ngIf="selectedTab == 'notes'">
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event, 'note')">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-list lines="none" *ngIf="!isLoading">
      <app-note-list-card [notes]="notes" (noteUpdateResponse)="notesRefresh($event)"></app-note-list-card>
    </ion-list>
    <div class="fixed-perfex-fab">
      <ion-fab *ngIf="authService.hasPermission('notes', ['create'])" vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="default" (click)="addEditNote()" class="ion-margin">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </div>
    <div class="ion-padding" *ngIf="notes?.length == 0">
      <app-empty></app-empty>
    </div>
  </div>

  <div class="ion-padding-bottom" *ngIf="selectedTab == 'templates'">
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event, 'template')">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-list lines="none" *ngIf="!isLoading">
      <ion-item-sliding *ngFor="let template of templates;let i = index;trackBy: trackByFn;"
        class="ion-margin-top ion-margin-bottom">
        <ion-item-options side="start" *ngIf="authService.hasPermission('templates', ['delete'])">
          <ion-item-option color="default-danger" class="_delete"
            (click)="deleteTemplate(template.id, i)">{{'_delete' | translate}}</ion-item-option>
        </ion-item-options>

        <ion-item class="ion-margin-start ion-margin-end r-m-16">
          <ion-label>
            <h3>{{ template?.name }}</h3>
            <span [innerHTML]="template?.content"></span>
          </ion-label>
        </ion-item>

        <ion-item-options side="end" *ngIf="authService.hasPermission('templates', ['edit'])">
          <ion-item-option color="default" class="_action" (click)="addEditTemplate(template)">{{'_edit' | translate}}</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
    <div class="fixed-perfex-fab">
      <ion-fab *ngIf="authService.hasPermission('templates', ['create'])" vertical="bottom" horizontal="end"
        slot="fixed">
        <ion-fab-button color="default" (click)="addEditTemplate()" class="ion-margin">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </div>
    <div class="ion-padding" *ngIf="templates?.length == 0">
      <app-empty></app-empty>
    </div>
  </div>

  <div class="ion-padding-bottom" *ngIf="selectedTab == 'files'">
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event, 'file')">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ngx-dropzone (change)="onSelect($event)" class="ion-margin" accept='image/*, application/*'>
      <ngx-dropzone-label>{{'expense_add_edit_attach_receipt' | translate}}</ngx-dropzone-label>
      <ngx-dropzone-preview *ngIf="!file && contract?.attachment" [removable]="true"
        >
        <ngx-dropzone-label>{{ contract.attachment }} ({{ contract.filetype }})</ngx-dropzone-label>
      </ngx-dropzone-preview>

      <ngx-dropzone-preview *ngIf="file" [removable]="true" (removed)="onRemove(file)">
        <ngx-dropzone-label>{{ file.name }} ({{ file.type }})</ngx-dropzone-label>
      </ngx-dropzone-preview>
    </ngx-dropzone>

    <ion-list lines="none" *ngIf="!isLoading">
      <span *ngFor="let file of files;let i = index;trackBy: trackByFn;">
        <ion-item-sliding class="ion-margin-top ion-margin-bottom">
          <ion-item-options side="start" *ngIf="authService.hasPermission('tasks', ['delete'])">
            <ion-item-option color="default-danger" class="_delete" (click)="deleteFile(file.id, i)">{{'_delete' | translate}}
            </ion-item-option>
          </ion-item-options>

          <ion-item class="ion-no-padding ion-margin-start ion-margin-end" (click)="downloadAttachment(file?.attachment_key, file?.filetype, file?.file_name)">
            <ion-thumbnail slot="start" style="text-align: center;">
              <img [src]="commonHelper.getMimeIcon(file.filetype)" style="width: 24px;height: 100%;object-fit: contain;"/>
            </ion-thumbnail>
            
            <ion-label>
              <h6>{{ file.dateadded }}</h6>
              <h3 style="white-space: break-spaces">{{ file.file_name }}</h3>
              <span> {{ file.filetype }} </span>
            </ion-label>

            <ion-note slot="end">
              <span>Last Activity:</span>
              <h3 class="ion-text-end ion-no-margin">
                <ion-text color="primary">{{ file.last_activity == null ? 'No Activity' :
                  file.last_activity }}</ion-text>
              </h3>
            </ion-note>
          </ion-item>

        </ion-item-sliding>
      </span>
    </ion-list>

    <ion-infinite-scroll *ngIf="!isLoading" threshold="100px" (ionInfinite)="loadMore($event, 'file')">
      <ion-infinite-scroll-content loadingSpinner="circular" loadingText="Loading..."></ion-infinite-scroll-content>
    </ion-infinite-scroll>

    <div class="ion-padding" *ngIf="files?.length == 0">
      <app-empty></app-empty>
    </div>
  </div>

  <app-mpc-loader [isLoading]="isLoading"></app-mpc-loader>
</ion-content>