<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- <ion-back-button class="btn-rotate" *ngIf="type !== 'modal'" color="dark" defaultHref="/admin/tickets/list"></ion-back-button> -->
      <ion-button *ngIf="type !== 'modal'" routerLink="/admin/tickets/list" routerDirection="back">
        <ion-icon color="dark" slot="icon-only" src="/assets/icon/left.svg" class="btn-rotate"></ion-icon>
      </ion-button>
      <ion-button *ngIf="type === 'modal'" (click)="close()">
        <ion-icon color="dark" slot="icon-only" src="/assets/icon/left.svg" class="btn-rotate"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ ticket?.subject }}</ion-title>
    <ion-buttons slot="end">
      <!-- [routerLink]="'/admin/tickets/edit/' + ticket_id" -->
     <!--  <ion-button color="dark" (click)="editTicket(ticket_id)">
        <ion-icon src="/assets/icon/pen.svg"></ion-icon>
      </ion-button> -->
      <!-- <ion-button color="dark">
        <ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
      </ion-button> -->
        <ion-button
        (click)="openFilters()"
        *ngIf="['tasks'].includes(selectedTab)"
      >
        <ion-icon
          [color]="isFiltered ? 'default' : 'dark'"
          slot="icon-only"
          src="/assets/icon/funnel.svg"
        ></ion-icon>
      </ion-button>

      <mpc-sorting (ionChange)="onSortingChange($event, 'task')" [apiService]="taskApi" *ngIf="selectedTab == 'tasks'"></mpc-sorting>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-segment
    scrollable
    class="ion-margin-bottom"
    (ionChange)="segmentChanged($event)"
    [value]="selectedTab"
    mode="md"
  >
    <ion-segment-button value="replies">
      <ion-label>{{'ticket_single_add_reply' | translate}}</ion-label>
    </ion-segment-button>
    <ion-segment-button value="notes">
      <ion-label>{{'ticket_single_add_note' | translate}}</ion-label>
    </ion-segment-button>
    <ion-segment-button value="reminders">
      <ion-label>{{'reminder' | translate}}</ion-label>
    </ion-segment-button>

    <ion-segment-button value="tasks">
      <ion-label>{{'tasks' | translate}}</ion-label>
    </ion-segment-button>
    <!-- <ion-segment-button value="other_tickets">
      <ion-label>Other Tickets</ion-label>
    </ion-segment-button> -->
  </ion-segment>

  <div style="padding-bottom: 85px;background: var(--ion-background-color, #fff);" *ngIf="selectedTab == 'replies'">
    
    <ion-grid>
      <ion-row style="border: 0">
        <ion-col>
          <span style="
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
          ">{{'ticket_dt_status' | translate}}</span>
        </ion-col>
        <ion-col>
          <span 
            class="list_status" 
            [style]="'
              background: transparent;
              padding: 0;
              text-align: right;
              margin:0;
              font-size: unset;
              display: inline-block;
              color: ' + ticket?.statuscolor + ';
            '">
              {{ ticket?.status_name }}
          </span>
        </ion-col>
      </ion-row>

      <ion-row style="border: 0" *ngIf="ticket?.priority_name">
        <ion-col>
          <span style="
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
          ">{{'priority' | translate}}</span>
        </ion-col>
        <ion-col>
          <span 
            class="list_status" 
            [style]="'
              background: transparent;
              padding: 0;
              text-align: right;
              margin:0;
              font-size: unset;
              display: inline-block;
              color: var(--ion-text-color);
            '">
              {{ ticket?.priority_name }}
          </span>
        </ion-col>
      </ion-row>

      <ion-row style="border: 0" *ngIf="ticket?.department_name">
        <ion-col>
          <span style="
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
          ">{{'department' | translate}}</span>
        </ion-col>
        <ion-col>
          <span 
            class="list_status" 
            [style]="'
              background: transparent;
              padding: 0;
              text-align: right;
              margin:0;
              font-size: unset;
              display: inline-block;
              color: var(--ion-text-color);
            '">
              {{ ticket?.department_name }}
          </span>
        </ion-col>
      </ion-row>

      <ion-row style="border: 0" *ngIf="ticket?.service_name">
        <ion-col>
          <span style="
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
          ">{{'service' | translate}}</span>
        </ion-col>
        <ion-col>
          <span 
            class="list_status" 
            [style]="'
              background: transparent;
              padding: 0;
              text-align: right;
              margin:0;
              font-size: unset;
              display: inline-block;
              color: var(--ion-text-color);
            '">
              {{ ticket?.service_name }}
          </span>
        </ion-col>
      </ion-row>

      <ion-row style="border: 0" *ngIf="ticket?.assigned != 0">
        <ion-col>
          <span style="
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
          ">{{'ticket_assigned' | translate }}</span>
        </ion-col>
        <ion-col>
          <span 
            class="list_status" 
            [style]="'
              background: transparent;
              padding: 0;
              text-align: right;
              margin:0;
              font-size: unset;
              display: inline-block;
              color: var(--ion-color-secondary);
            '">
              {{ ticket?.assigned_name }}
          </span>
        </ion-col>
      </ion-row>

      <ion-row style="border: 0" *ngIf="ticket?.lastreply">
        <ion-col>
          <span style="
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
          ">{{'ticket_dt_last_reply' | translate}}</span>
        </ion-col>
        <ion-col>
          <span 
            class="list_status" 
            [style]="'
              background: transparent;
              padding: 0;
              text-align: right;
              margin:0;
              font-size: unset;
              display: inline-block;
              color: var(--ion-color-success);
            '">
              {{ ticket?.lastreply_time_ago }}
          </span>
        </ion-col>
      </ion-row>

      <ion-row style="border: 0">
        <ion-col>
          <!-- goToPage('/admin/tasks/edit/' + task_id) -->
          <ion-button
            color="primary"
            (click)="editTicket(ticket_id)"
            expand="block"
            fill="outline"
            mode="ios"
            >{{'edit_ticket' | translate}}</ion-button
          >
        </ion-col>

        <ion-col>
          <ion-button
            id="popover-more"
            color="medium"
            expand="block"
            fill="outline"
            color="dark"
            mode="ios"
            class="action_button"
            (click)="openTicketStatus()"
          >
            <ion-spinner [hidden]="!isStatusLoading"></ion-spinner>
            <ion-label style="width: 100%">{{'ticket_dt_status' | translate}}</ion-label>
            <ion-icon slot="end" name="chevron-down"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <!-- <div class="ion-padding-start ion-padding-end ion-padding-bottom r-p-16">
      <ion-grid *ngIf="ticket?.customfields?.length > 0">
        <ion-row *ngFor="let custom_field of ticket?.customfields">
          <ion-col>
            <h6>{{ custom_field?.label }}</h6>
            <h3>{{ (custom_field?.value == '' ? '-' : custom_field?.value) }}</h3>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div> -->

    <ion-grid [class.client_reply]="ticket?.admin === null" class="reply" *ngIf="ticket?.ticket_replies?.order_by == 'asc'">
      <ion-row>
        <ion-col size="12">
          <ion-item lines="none">
            <ion-avatar color="default" slot="start">
              <img *ngIf="ticket?.profile_image != null" [src]="ticket?.profile_image" [alt]="ticket?.from_name">
              <ion-text *ngIf="ticket?.profile_image == null">{{ ticket?.from_name.substring(0, 1) | titlecase }}</ion-text>
            </ion-avatar>
            <ion-label>
              <ion-text class="reply_name">{{ (ticket?.from_name != null ? ticket?.from_name : (ticket?.user_firstname + ' ' + ticket?.user_lastname)) }}</ion-text>  
              <ion-text class="reply_email"> "{{ (ticket?.ticket_email != null ? ticket?.ticket_email : ticket?.email) }}"</ion-text>
              <p class="reply_date">{{ ticket?.date }}</p>
            </ion-label>
          </ion-item>
        </ion-col>
        <ion-col style="text-align: left;">
          <div [innerHTML]="ticket?.message"></div>
          <div *ngFor="let attachment of ticket?.attachments">
            <hr />
            <a (click)="downloadAttachment(attachment?.id, attachment?.filetype, attachment?.file_name)">
              <i [class]="attachment?.mime_class"></i> {{ attachment?.file_name }}
            </a>
            <img *ngIf="attachment?.is_image" [src]="attachment?.src">
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid [class.client_reply]="reply?.admin === null" class="reply" *ngFor="let reply of ticket?.ticket_replies?.data">
      <ion-row>
        <ion-col size="12">
          <ion-item lines="none">
            <ion-avatar color="default" slot="start">
              <img *ngIf="reply?.profile_image != null"  [src]="reply.profile_image" [alt]="reply?.submitter">
              <ion-text *ngIf="reply?.profile_image == null">{{ reply?.from_name.substring(0, 1) | titlecase }}</ion-text>
            </ion-avatar>
            <ion-label>
              <ion-text class="reply_name">{{ reply?.submitter }}</ion-text>
              <ion-text class="reply_email"> {{'to' | translate}} "{{ (ticket?.ticket_email != null ? ticket?.ticket_email : ticket?.email) }}"</ion-text>
              <p class="reply_date">{{ reply?.date }}</p>
            </ion-label>
          </ion-item>
        </ion-col>
        <ion-col style="text-align: left;">
          <div [innerHTML]="reply?.message"></div>
          <div *ngFor="let attachment of reply?.attachments">
            <hr />
            <a (click)="downloadAttachment(attachment?.id, attachment?.filetype, attachment?.file_name)">
              <i [class]="attachment?.mime_class"></i> {{ attachment?.file_name }}
            </a>
            <img *ngIf="attachment?.is_image" [src]="attachment?.src">
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid [class.client_reply]="ticket?.admin === null" class="reply" *ngIf="ticket?.ticket_replies?.order_by == 'desc'">
      <ion-row>
        <ion-col size="12">
          <ion-item lines="none">
            <ion-avatar color="default" slot="start">
              <img *ngIf="ticket?.profile_image != null" [src]="ticket?.profile_image" [alt]="ticket?.from_name">
              <ion-text *ngIf="ticket?.profile_image == null">{{ ticket?.from_name.substring(0, 1) | titlecase }}</ion-text>
            </ion-avatar>
            <ion-label>
              <ion-text class="reply_name">{{ (ticket?.from_name != null ? ticket?.from_name : (ticket?.user_firstname + ' ' + ticket?.user_lastname)) }}</ion-text>  
              <ion-text class="reply_email"> "{{ (ticket?.ticket_email != null ? ticket?.ticket_email : ticket?.email) }}"</ion-text>
              <p class="reply_date">{{ ticket?.date | dateTimeFormat:'datetime' }}</p>
            </ion-label>
          </ion-item>
        </ion-col>
        <ion-col style="text-align: left;">
          <div [innerHTML]="ticket?.message"></div>
          <div *ngFor="let attachment of ticket?.attachments">
            <hr />
            <a (click)="downloadAttachment(attachment?.id, attachment?.filetype, attachment?.file_name)">
              <i [class]="attachment?.mime_class"></i> {{ attachment?.file_name }}
            </a>
            <img *ngIf="attachment?.is_image" [src]="attachment?.src">
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="ion-padding-bottom" *ngIf="selectedTab == 'reminders'">
    <ion-refresher slot="fixed" (ionRefresh)="doRefreshReminders($event, 'reminder')">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <!-- <ion-searchbar
      *ngIf="isSearching"
      mode="ios"
      (ionInput)="searchReminders($event)"
      debounce="500"
    ></ion-searchbar> -->
    <ion-list lines="none" *ngIf="!isLoading">
      <app-reminder-list-card [reminders]="reminders" (reminderUpdateResponse)="reminderRefresh($event)"></app-reminder-list-card>
    </ion-list>

    <ion-infinite-scroll
      threshold="100px"
      (ionInfinite)="loadMore($event, 'reminder')"
    >
      <ion-infinite-scroll-content
        loadingSpinner="circular"
        loadingText="Loading..."
      >
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>

    <div class="ion-padding" *ngIf="reminders?.length == 0">
      <app-empty></app-empty>
    </div>
    <div class="fixed-perfex-fab">
    <ion-fab
      *ngIf="authService.hasPermission('reminders', ['create'])"
      vertical="bottom"
      horizontal="end"
      slot="fixed"
    >
      <ion-fab-button
        color="default"
        (click)="addEditReminder()"
        class="ion-margin"
      >
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>
  </div>

  <div class="ion-padding-bottom" *ngIf="selectedTab == 'tasks'">
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-searchbar *ngIf="isSearching" mode="ios" (ionInput)="doSearch($event, 'task')" debounce="500"></ion-searchbar>
    
    <ion-list lines="none" *ngIf="!isLoading">
      <task-list-card [tasks]="tasks" [isModal]="true"></task-list-card>
    </ion-list>

    <ion-infinite-scroll *ngIf="!isLoading" threshold="100px" (ionInfinite)="loadMore($event, 'task')">
      <ion-infinite-scroll-content loadingSpinner="circular" loadingText="Loading..."></ion-infinite-scroll-content>
    </ion-infinite-scroll>
    <div class="fixed-perfex-fab">
      <ion-fab
        *ngIf="authService.hasPermission('tasks', ['create'])"
        vertical="bottom"
        horizontal="end"
        slot="fixed"
      >
        <ion-fab-button color="default" (click)="addTask()" class="ion-margin">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>
      </div>
    <div class="ion-padding" *ngIf="tasks?.length == 0">
      <app-empty></app-empty>
    </div>
  </div>

  <div class="ion-padding-bottom" *ngIf="selectedTab == 'notes'">
    <ion-list lines="none" *ngIf="!isLoading">
      <app-note-list-card [notes]="notes" (noteUpdateResponse)="notesRefresh($event)"></app-note-list-card>
    </ion-list>
    <div class="fixed-perfex-fab">
    <ion-fab *ngIf="authService.hasPermission('notes', ['create'])" vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button color="default" (click)="addEditNote()" class="ion-margin">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    </div>
    <div class="ion-padding" *ngIf="notes?.length == 0">
      <app-empty></app-empty>
    </div>
  </div>

  <app-mpc-loader [isLoading]="isLoading"></app-mpc-loader>

  <ion-fab *ngIf="selectedTab == 'replies'" vertical="bottom" horizontal="start" slot="fixed" class="r-ticket-btn" style="left: 0;width: 100%;bottom: 0;background: var(--ion-background-color, #fff);">
    <ion-row class="ion-fab-ion-margin-bottom ion-fab-ion-margin-top">
      <ion-col size="6">
        <ion-button expand="block" mode="ios" (click)="addReply()" color="default">{{'ticket_single_add_reply' | translate}}</ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button expand="block" mode="ios" (click)="addEditNote()" fill="outline">{{'ticket_single_add_note' | translate}}</ion-button>
      </ion-col>
    </ion-row>
  </ion-fab>
</ion-content>
