<ion-item-sliding #slidingItem *ngFor="let task of tasks;let i = index;trackBy: trackByFn;" class="ion-margin-top ion-margin-bottom">
  <ion-item-options side="start" *ngIf="authService.hasPermission('tasks', ['delete'])">
    <ion-item-option color="default-danger" class="_delete" (click)="delete(task.id, i, slidingItem)">{{'_delete' | translate}}</ion-item-option>
  </ion-item-options>

  <ion-item
    class="ion-margin-start ion-margin-end r-m-16"
    (click)="view(task.id, task)"
  >
  <div slot="start" class="date_created">
    <div class="date">{{ task.dateadded | date : "dd" }}</div>
    <div class="month">{{ task.dateadded | date : "MMM" }}</div>
  </div>
    <ion-label>
      <h6>{{'starting' | translate}} {{ task.startdate | dateTimeFormat }}</h6>
      <h3>{{ task.name }}</h3>
      <span>{{ task.rel_name }}</span>
    </ion-label>
    <ion-note slot="end">
      <!-- <h3>{{ task.startdate | dateTimeFormat }}</h3> -->
      <h6 [style.color]="taskHelper.task_priority_color(task.priority)">
        {{ taskHelper.task_priority(task.priority) | translate }}
      </h6>
      <span
        class="list_status"
        style="margin-top: 0;"
        [style.backgroundColor]="getStatusColorByStatusId(task.status)"
        >{{ getStatusNameByStatusId(task.status) | translate}}</span
      >
      <div style="display: flex;flex-wrap: nowrap;align-items: center;justify-content: space-around;margin-right: 10px;"
      >
        <ion-avatar *ngFor="let assignee of task?.assignees?.slice(0,3)" style="
          width: 25px;
          height: 25px;
          margin-top: 5px;
          margin-right: -10px;
          z-index: 2;
          border: 1px solid var(--ion-item-background);">
          <img [alt]="assignee?.full_name" [src]="assignee?.profile_url" />
        </ion-avatar>

        <ion-avatar *ngIf="task.assignees?.length > 3" style="
            width: 25px;
            height: 25px;
            margin-top: 5px;
            margin-right: -10px;
            z-index: 2;
            border: 1px solid var(--ion-item-background);
            background: var(--ion-background-color);
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 11px;">
          +{{ (task?.assignees?.length - 3) }}
        </ion-avatar>
      </div>
    </ion-note>
  </ion-item>

  <ion-item-options
    side="end"
    *ngIf="authService.hasPermission('tasks', ['edit'])"
  >
    <ion-item-option color="default" class="_action" (click)="edit(task.id)"
      >{{'_edit' | translate}}</ion-item-option
    >
  </ion-item-options>
</ion-item-sliding>