ion-title{
    text-align: right !important;
  }

  .dashboard .invoice-stats swiper-container swiper-slide .title{
    text-align: right !important;
  }
  .dashboard .invoice-stats swiper-container swiper-slide .title.danger:before{
    margin-left: 7px !important;
    margin-right: 0px !important;
  }
  .dashboard .invoice-stats swiper-container swiper-slide .title.success:before{
    margin-left: 7px !important;
    margin-right: 0px !important;
  }
  .dashboard .invoice-stats swiper-container swiper-slide .title.warning:before{
    margin-left: 7px !important;
    margin-right: 0px !important;
  }
  .dashboard .basic_stats ion-col{
    padding-right: 0px !important;
    padding-left: 10px !important;
  }
  .dashboard .heading{
    text-align: right !important;
  }
  .dashboard ion-grid ion-row ion-col:nth-child(2){
    text-align: left !important;
  }
  .dashboard .todo_box ion-row ion-col ion-text{
    float: none !important;
  }
  .summary swiper-container swiper-slide .title{
    text-align: right !important;
  }
  .summary swiper-container swiper-slide .title.draft:before,
  .summary swiper-container swiper-slide .title.success:before,
  .summary swiper-container swiper-slide .title.danger:before,
  .summary swiper-container swiper-slide .title.info:before,
  .summary swiper-container swiper-slide .title.warning:before,
  .summary swiper-container swiper-slide .title.default:before {
    margin-left: 7px !important;
    margin-right: 0px !important;
  }
  .project-summary swiper-slide .title{
    text-align: right !important;
  }
   .project-summary swiper-slide .title.draft:before,
   .project-summary swiper-slide .title.success:before,
   .project-summary swiper-slide .title.danger:before,
   .project-summary swiper-slide .title.info:before,
   .project-summary swiper-slide .title.warning:before,
   .project-summary swiper-slide .title.default:before {
    margin-left: 7px !important;
    margin-right: 0px !important;
  }
  .summary swiper-container swiper-slide .title .p-s  {
    margin-left: 7px !important;
    margin-right: 0px !important;
  }
  .summary swiper-container swiper-slide .amount {
    text-align: right !important;
  }
  .project-summary  swiper-slide .amount {
    text-align: right !important;
  }
  ion-grid ion-row ion-col:nth-child(2) {
    text-align: left !important;
  }
  ion-row ion-col:nth-child(2){
    text-align: left !important;
  }
  .label-floating.sc-ion-label-md-h{
    align-self: start !important;
    transform-origin: top right !important;
  }
  .label-stacked.sc-ion-label-md-h{
    align-self: start !important;
    transform-origin: top right !important;
  }
  .item-label-floating .sc-ion-input-md-h{
    --padding-start: 8px !important;
  }
  ion-item.checkbox ion-checkbox {
    margin-left: 10px !important;
    margin-right: 0px !important;
  }
  ion-item.checkbox ion-toggle {
    margin-left: 10px !important;
    margin-right: 0px !important;
  }
  .r-p-16{
    padding-right: 16px !important;
  }
  .r-item{
    padding-right: 20px !important;
    padding-left: 0px !important;
  }
  .r-item ion-label ion-avatar{
    float: right !important;
    margin-left: 5px !important;
    margin-right: 0px !important;
  }
  .r-item ion-label h6{
    direction: ltr;
    text-align: end;
  }
  .r-item::after{
    left: 0px !important;
    right: 10px !important;
  }
  .r-infinity-row{
    right: unset !important;
    left: 0px !important;
  }
  .r-unit-col{
    padding-left: 0px !important;
    padding-right: 16px !important;
  }
  .basic_stats .single ion-card .stats {
    margin-right: 16px !important;
    margin-left: 0px !important;
  }
  .p-title{
    text-align: right !important;
  }
  ion-range{
    direction: ltr !important;
  }
  .r_checklist_item{
    margin-right: -16px !important;
    margin-left: 0px !important;
  }
  .r_checklist_item ion-item ion-checkbox{
    margin: 0 0 0 10px !important;
  }
  .r-file-item{
    margin-right: 16px;
  }
  .r-file-item ion-thumbnail{
    margin: 0 0 0 10px !important;
  }
  ion-checkbox {
    margin-left: 10px !important;
    margin-right: 0px !important;
}
.r-ticket-btn{
  right: 0;
}
.fixed-perfex-fab{
  left: 0;
}
.r-m-16{
  margin-right: 16px !important;
}
.r-notification-time{
  left: 0;
  direction: ltr;
}
.r-swiper{
  direction: ltr !important;
}